body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #fff;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #333;
}
.red {
    color: red;
}
.green {
    color: green;
}
.unique-price-1 {
    color: #FFD700; /* Vàng sáng */
}
.unique-price-2 {
    color: #00FF00; /* Xanh lá sáng */
}
.unique-price-3 {
    color: #00FFFF; /* Xanh dương sáng */
}
.unique-price-4 {
    color: #FF69B4; /* Hồng sáng */
}
.unique-price-5 {
    color: #FF4500; /* Cam sáng */
}


body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background-color: #333;
    border: 1px solid #555;
    cursor: pointer;
    color: #fff;
}

.dropdown-btn img {
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #555;
    width: 100%;
    z-index: 99;
    max-height: 200px;
    overflow-y: auto;
    color: #fff;
}

.dropdown-content div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-content div img {
    margin-right: 10px;
}

.dropdown-content div:hover, .selected {
    background-color: #555;
}

.select-hide {
    display: none;
}

.show {
    display: block;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #333;
}

th {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #2a2a2a;
}

@media screen and (max-width: 768px) {
    .dropdown {
        width: 100%;
    }

    .control-panel {
        flex-direction: column;
        align-items: flex-start;
    }

    .control-panel > * {
        margin-bottom: 10px;
        width: 100%;
    }
}

